*{
    margin: 0;
    padding: 0;
}
.main{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    gap:10px;
}
.h2{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    border:1px solid black;
}
.susmit{
    background-color: rgba(92, 110, 207, 0.811);
    height: 25px;
    color: white;
    border: 1px solid rgba(92, 110, 207, 0.811) ;
    border-radius: 10%;
}
.h1{
    display: flex;
    justify-content: space-between;
}